.toDoBase {
    background: lightblue;
    width: 50%;
    margin: auto;
    height: 600px;
    padding-top: 1em;
    border-radius: 10px;
    box-shadow: 0 0 70px lightgoldenrodyellow;
}

.header{
    margin: 50px 0;
}

.toDoInput {
    width: 50%;
    margin:0.5em auto;
}

.closeButton {
    border: none;
    background: none;
}

.inputWithButton {
    display: flex;
    align-items: center;
}


.inputWithButton .closeButton {
    margin-right: 207px;
    position: relative;
}

.toDosCounter{
    margin-left: 15px;
}

.btn-danger{
    margin-left: 15px ;
}
